/* Da Opx a 575px:
extra small devices (es. telefoni anzianotti) XS
Da 576px a 767px:
small devices (es. telefoni) sm
Da 768px a 991 px: a
medium devices (es. tablet) md
Da 992px in su:
large devices (es desktop) lg */

/* UTILITIES */
/* .container {
  max-width: var(--max-?);
} */
:root {
  --gap: 0.5px;
}
.row {
  border: var(--gap) solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* MEDIA QUERY XS */
.col-xs-1 {
  flex-basis: calc(((100% / 12) * 1) - 1px);
  max-width: calc(((100% / 12) * 1) - 1px);
}
.col-xs-2 {
  flex-basis: calc(((100% / 12) * 2) - 1px);
  max-width: calc(((100% / 12) * 2) - 1px);
}
.col-xs-3 {
  flex-basis: calc(((100% / 12) * 3) - 1px);
  max-width: calc(((100% / 12) * 3) - 1px);
}
.col-xs-4 {
  flex-basis: calc(((100% / 12) * 4) - 1px);
  max-width: calc(((100% / 12) * 4) - 1px);
}
.col-xs-5 {
  flex-basis: calc(((100% / 12) * 5) - 1px);
  max-width: calc(((100% / 12) * 5) - 1px);
}
.col-xs-6 {
  flex-basis: calc(((100% / 12) * 6) - 1px);
  max-width: calc(((100% / 12) * 6) - 1px);
}
.col-xs-7 {
  flex-basis: calc(((100% / 12) * 7) - 1px);
  max-width: calc(((100% / 12) * 7) - 1px);
}
.col-xs-8 {
  flex-basis: calc(((100% / 12) * 8) - 1px);
  max-width: calc(((100% / 12) * 8) - 1px);
}
.col-xs-9 {
  flex-basis: calc(((100% / 12) * 9) - 1px);
  max-width: calc(((100% / 12) * 9) - 1px);
}
.col-xs-10 {
  flex-basis: calc(((100% / 12) * 10) - 1px);
  max-width: calc(((100% / 12) * 10) - 1px);
}
.col-xs-11 {
  flex-basis: calc(((100% / 12) * 11) - 1px);
  max-width: calc(((100% / 12) * 11) - 1px);
}
.col-xs-12 {
  flex-basis: calc(((100% / 12) * 12) - 1px);
  max-width: calc(((100% / 12) * 12) - 1px);
}

/* MEDIA QUERY SMALL */
.col-s-1 {
  flex-basis: calc(((100% / 12) * 1) - 1px);
  max-width: calc(((100% / 12) * 1) - 1px);
}
.col-s-2 {
  flex-basis: calc(((100% / 12) * 2) - 1px);
  max-width: calc(((100% / 12) * 2) - 1px);
}
.col-s-3 {
  flex-basis: calc(((100% / 12) * 3) - 1px);
  max-width: calc(((100% / 12) * 3) - 1px);
}
.col-s-4 {
  flex-basis: calc(((100% / 12) * 4) - 1px);
  max-width: calc(((100% / 12) * 4) - 1px);
}
.col-s-5 {
  flex-basis: calc(((100% / 12) * 5) - 1px);
  max-width: calc(((100% / 12) * 5) - 1px);
}
.col-s-6 {
  flex-basis: calc(((100% / 12) * 6) - 1px);
  max-width: calc(((100% / 12) * 6) - 1px);
}
.col-s-7 {
  flex-basis: calc(((100% / 12) * 7) - 1px);
  max-width: calc(((100% / 12) * 7) - 1px);
}
.col-s-8 {
  flex-basis: calc(((100% / 12) * 8) - 1px);
  max-width: calc(((100% / 12) * 8) - 1px);
}
.col-s-9 {
  flex-basis: calc(((100% / 12) * 9) - 1px);
  max-width: calc(((100% / 12) * 9) - 1px);
}
.col-s-10 {
  flex-basis: calc(((100% / 12) * 10) - 1px);
  max-width: calc(((100% / 12) * 10) - 1px);
}
.col-s-11 {
  flex-basis: calc(((100% / 12) * 11) - 1px);
  max-width: calc(((100% / 12) * 11) - 1px);
}
.col-s-12 {
  flex-basis: calc(((100% / 12) * 12) - 1px);
  max-width: calc(((100% / 12) * 12) - 1px);
}

/* MEDIA QUERY MD */
.col-md-1 {
  flex-basis: calc(((100% / 12) * 1) - 1px);
  max-width: calc(((100% / 12) * 1) - 1px);
}
.col-md-2 {
  flex-basis: calc(((100% / 12) * 2) - 1px);
  max-width: calc(((100% / 12) * 2) - 1px);
}
.col-md-3 {
  flex-basis: calc(((100% / 12) * 3) - 1px);
  max-width: calc(((100% / 12) * 3) - 1px);
}
.col-md-4 {
  flex-basis: calc(((100% / 12) * 4) - 1px);
  max-width: calc(((100% / 12) * 4) - 1px);
}
.col-md-5 {
  flex-basis: calc(((100% / 12) * 5) - 1px);
  max-width: calc(((100% / 12) * 5) - 1px);
}
.col-md-6 {
  flex-basis: calc(((100% / 12) * 6) - 1px);
  max-width: calc(((100% / 12) * 6) - 1px);
}
.col-md-7 {
  flex-basis: calc(((100% / 12) * 7) - 1px);
  max-width: calc(((100% / 12) * 7) - 1px);
}
.col-md-8 {
  flex-basis: calc(((100% / 12) * 8) - 1px);
  max-width: calc(((100% / 12) * 8) - 1px);
}
.col-md-9 {
  flex-basis: calc(((100% / 12) * 9) - 1px);
  max-width: calc(((100% / 12) * 9) - 1px);
}
.col-md-10 {
  flex-basis: calc(((100% / 12) * 10) - 1px);
  max-width: calc(((100% / 12) * 10) - 1px);
}
.col-md-11 {
  flex-basis: calc(((100% / 12) * 11) - 1px);
  max-width: calc(((100% / 12) * 11) - 1px);
}
.col-md-12 {
  flex-basis: calc(((100% / 12) * 12) - 1px);
  max-width: calc(((100% / 12) * 12) - 1px);
}

/* MEDIA QUERY LG */
.col-lg-1 {
  flex-basis: calc(((100% / 12) * 1) - 1px);
  max-width: calc(((100% / 12) * 1) - 1px);
}
.col-lg-2 {
  flex-basis: calc(((100% / 12) * 2) - 1px);
  max-width: calc(((100% / 12) * 2) - 1px);
}
.col-lg-3 {
  flex-basis: calc(((100% / 12) * 3) - 1px);
  max-width: calc(((100% / 12) * 3) - 1px);
}
.col-lg-4 {
  flex-basis: calc(((100% / 12) * 4) - 1px);
  max-width: calc(((100% / 12) * 4) - 1px);
}
.col-lg-5 {
  flex-basis: calc(((100% / 12) * 5) - 1px);
  max-width: calc(((100% / 12) * 5) - 1px);
}
.col-lg-6 {
  flex-basis: calc(((100% / 12) * 6) - 1px);
  max-width: calc(((100% / 12) * 6) - 1px);
}
.col-lg-7 {
  flex-basis: calc(((100% / 12) * 7) - 1px);
  max-width: calc(((100% / 12) * 7) - 1px);
}
.col-lg-8 {
  flex-basis: calc(((100% / 12) * 8) - 1px);
  max-width: calc(((100% / 12) * 8) - 1px);
}
.col-lg-9 {
  flex-basis: calc(((100% / 12) * 9) - 1px);
  max-width: calc(((100% / 12) * 9) - 1px);
}
.col-lg-10 {
  flex-basis: calc(((100% / 12) * 10) - 1px);
  max-width: calc(((100% / 12) * 10) - 1px);
}
.col-lg-11 {
  flex-basis: calc(((100% / 12) * 11) - 1px);
  max-width: calc(((100% / 12) * 11) - 1px);
}
.col-lg-12 {
  flex-basis: calc(((100% / 12) * 12) - 1px);
  max-width: calc(((100% / 12) * 12) - 1px);
}

/* COL OFFSET */
.col-off-1 {
  margin-left: calc(((100% / 12) * 1) - 1px);
}
.col-off-2 {
  margin-left: calc(((100% / 12) * 2) - 1px);
}
.col-off-3 {
  margin-left: calc(((100% / 12) * 3) - 1px);
}
.col-off-4 {
  margin-left: calc(((100% / 12) * 4) - 1px);
}
.col-off-5 {
  margin-left: calc(((100% / 12) * 5) - 1px);
}
.col-off-6 {
  margin-left: calc(((100% / 12) * 6) - 1px);
}
.col-off-7 {
  margin-left: calc(((100% / 12) * 7) - 1px);
}
.col-off-8 {
  margin-left: calc(((100% / 12) * 8) - 1px);
}
.col-off-9 {
  margin-left: calc(((100% / 12) * 9) - 1px);
}
.col-off-10 {
  margin-left: calc(((100% / 12) * 10) - 1px);
}
.col-off-11 {
  margin-left: calc(((100% / 12) * 11) - 1px);
}
.col-off-12 {
  margin-left: calc(((100% / 12) * 12) - 1px);
}

@media screen and (min-width: 0px) and (max-width: 576px) {
}
@media screen and (min-width: 577px) and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 992px) {
}
