* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[class*='col-'] {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #006cfa;
}
.row:last-child > [class*='col-'] {
  padding: 10px;
}
[class*='col-'] [class*='col-'] {
  height: 90%;
  background-color: #00e164;
}
.row span {
  line-height: 50px;
  color: white;
}
