* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class*='col-'] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #006cfa;
}

.row span {
  color: white;
}
